<div id="fb-root"></div>
<div id="main" role="main">
  <section class="slider">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <span class="img"><%=image_tag "perro.jpg"%></span>
          <div>
            <div class="panel">
              <div name="perro" class="fb-comments" data-href="http://www.plupets.com/#perro" data-num-posts="2" data-width="470"></div>
            </div>
            <div class="flip">Show/Hide Panel</div>
          </div>
        </li>
        <li>
          <span class="img"><%=image_tag "perro1.jpg"%></span>
          <div>
            <div class="panel">
				<div name="perro1" class="fb-comments" data-href="http://www.plupets.com/#perro1" data-num-posts="2" data-width="470"></div>
            </div>
            <div class="flip">Show/Hide Panel</div>
          </div>
        </li>
        <li>
          <span class="img"><%=image_tag "perro2.jpg"%></span>
          <div>
            <div class="panel">
              <div name="perro2" class="fb-comments" data-href="http://www.plupets.com/#perro2" data-num-posts="2" data-width="470"></div>
            </div>
            <div class="flip">Show/Hide Panel</div>
          </div>
        </li>
		<li>
          <span class="img"><%=image_tag "perro3.jpg"%></span>
          <div>
            <div class="panel">
              <div name="perro3" class="fb-comments" data-href="http://www.plupets.com/#perro3" data-num-posts="2" data-width="470"></div>
            </div>
            <div class="flip">Show/Hide Panel</div>
          </div>
        </li>
		<li>
          <span class="img"><%=image_tag "perro4.jpg"%></span>
          <div>
            <div class="panel">
              <div name="perro4" class="fb-comments" data-href="http://www.plupets.com/#perro4" data-num-posts="2" data-width="470"></div>
            </div>
            <div class="flip">Show/Hide Panel</div>
          </div>
        </li>
		<li>
          <span class="img"><%=image_tag "perro5.jpg"%></span>
          <div>
            <div class="panel">
              <div name="perro5" class="fb-comments" data-href="http://www.plupets.com/#perro5" data-num-posts="2" data-width="470"></div>
            </div>
            <div class="flip">Show/Hide Panel</div>
          </div>
        </li>
		<li>
          <span class="img"><%=image_tag "perro6.jpg"%></span>
          <div>
            <div class="panel">
              <div name="perro6" class="fb-comments" data-href="http://www.plupets.com/#perro6" data-num-posts="2" data-width="470"></div>
            </div>
            <div class="flip">Show/Hide Panel</div>
          </div>
        </li>
		<li>
          <span class="img"><%=image_tag "perro7.jpg"%></span>
          <div>
            <div class="panel">
              <div name="perro7" class="fb-comments" data-href="http://www.plupets.com/#perro7" data-num-posts="2" data-width="470"></div>
            </div>
            <div class="flip">Show/Hide Panel</div>
          </div>
        </li>

      </ul>
    </div>
  </section>
</div>

